/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --accent-color: #C35801;
  --gray-color: #5e5e5e;
  --white-color: #FFF;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: black; */
}



/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: black; */
  
}


/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
  margin: 0;
}


/* helper classes */
.flex {
  display: flex
}






